@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    padding-top: 70px;
}
h1, h2 {
    font-family: 'Permanent Marker', sans-serif;
    color: #b1221d;
    text-align: center;
}
#nav-bar {
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: azure;
    }
.nav-link {
    color: #b1221d;
    font-weight: 700;
    font-family: 'Permanent Marker', sans-serif;
    text-decoration: none;
    padding: 5px;
    text-align: left;
    padding-right: 10px;
}
#header-img {
    padding-left: 30px;
    padding-right: 100px;
}
@media screen and (max-width: 400px)
{ #header-img {
    padding-left: 0px;
    padding-right: 0px;
}}
#sport-services-form {
    text-align: center;
}
#email {
    border-radius: 10px;
    text-align:center;
    border: 2px solid grey;
}
#submit {
    margin-top: 15px; 
    background-color: #b1221d;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px 20px;
}
.hiking-activity {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 150px;
}
.hiking-img {
    flex-basis: auto;
    padding-right: 50px;
}
.hiking-headline {
    position: relative;
    top: -15px; 
    font-size: 20px;
}
.hiking-text {
    position: relative;
    top: 5px;
}
.paragliding-activity {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 150px;
}
.paragliding-img {
    flex-basis: auto;
    padding-right: 50px;
}
.paragliding-headline {
    position: relative;
    top: -15px; 
    font-size: 20px;
}
.paragliding-text {
    position: relative;
    top: 5px;
}
.snowboarding-activity {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 150px;
}
.snowboarding-img {
    flex-basis: auto;
    padding-right: 50px;
}
.snowboarding-headline {
    position: relative;
    top: -15px; 
    font-size: 20px;
}
.snowboarding-text {
    position: relative;
    top: 5px;
    }
@media screen and (max-width: 400px)
    {.hiking-activity {
        display: inline-block;
        padding-left: 0px;
}}
@media screen and (max-width: 400px)
    {.hiking-text {
        text-align: center;
        padding-bottom: 10px;
}}
@media screen and (max-width: 400px)
    {.hiking-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}}
@media screen and (max-width: 400px)
    {.paragliding-activity {
        display: inline-block;
        padding-left: 0px;
}}
@media screen and (max-width: 400px)
    {.paragliding-text {
        text-align: center;
        padding-bottom: 10px;
}}
@media screen and (max-width: 400px)
    {.paragliding-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}}  
@media screen and (max-width: 400px)
    {.snowboarding-activity{
        display: inline-block;
        padding-left: 0px;
}}
@media screen and (max-width: 400px)
    {.snowboarding-text {
        text-align: center;
}}
@media screen and (max-width: 400px)
    {.snowboarding-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}} 
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    height: 686px;
}    
@media screen and (max-width: 1200px)
    {iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
}}
#pricing {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 400px)
    {#pricing {
        display:block;
}} 
.hiking-price {
    border: 1px solid black;
    width: 250px;
    height: auto;
    text-align: center;
    margin-right: 5px;
}
@media screen and (max-width: 400px)
    {.hiking-price {
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
}} 
.paragliding-price {
    border: 1px solid black;
    width: 250px;
    height: auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
@media screen and (max-width: 400px)
    {.paragliding-price {
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
}} 
.snowboarding-price {
    border: 1px solid black;
    width: 250px;
    height: auto;
    text-align: center;
    margin-left: 5px;
}
@media screen and (max-width: 400px)
    {.snowboarding-price {
        display:block;
        margin-left: auto;
        margin-right: auto;
}} 
.activity-price-headline {
    background-color: azure;
    padding: 30px 0;
    margin: 0;
    text-transform:uppercase;
}
.activity-price {
    font-size: 20px;
    font-weight: 700;
}
.select-button {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b1221d;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px 20px;
}
.activity-content {
    margin-bottom: 30px;
}
.copyright {
    margin-top: 30px;
    margin-bottom: 0;
}
@media screen and (max-width: 400px)
    {#nav-bar {
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: right;
}}
#footer-nav-bar {
    float: right;
    padding: 10px;
}
.footer-nav-link {
    color: #b1221d;
    font-weight: 700;
    font-family: 'Permanent Marker', sans-serif;
    text-decoration: none;
    padding: 5px;
}